@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,900&subset=cyrillic-ext');


body {
    font-family: 'Roboto', sans-serif;
    background: url(../img/ReactiveSnail_WEB_bg.jpg) no-repeat center;
    background-size: cover; /* Масштабируем фон */
    background-attachment: fixed;
}

.container {
    display: flex;
    /*display: -webkit-flex; /* Safari */
    flex-direction: column;
    /*-webkit-flex-direction: column; /* Safari */
}


.header {
    justify-content: center;
    /*-webkit-justify-content: center; /* Safari */
    display: flex;
    /*display: -webkit-flex; /* Safari */
    flex-direction: column;
    /*-webkit-flex-direction: column; /* Safari */
    align-items: center;
    border-bottom: 7px solid rgba(255, 255, 255, 0.47843137254901963);
    height: 700px;
    margin-bottom: 35px;
}

.header-title {
    background-color: rgba(22, 22, 31, 0.47843137254901963);
    height: auto;
    width: 34em;
    display: flex;
    /*display: -webkit-flex; /* Safari */
    flex-direction: column;
    /*-webkit-flex-direction: column; /* Safari */
    align-items: center;
    border: 7px solid rgba(255, 255, 255, 0.47843137254901963);}

.header-title h1 {
    color: aliceblue;
    font-size: 3em;
    margin: 0.67em 0;
}
.header-title p {
    color: aliceblue;
    font-size: 1.7em;
    margin-bottom: 1.7em;
}

.header a {
    text-decoration: none;
}


.content {
    display: flex;
    /*display: -webkit-flex; /* Safari */
    flex-direction: row;
    /*-webkit-flex-direction: row; /* Safari */
    flex-wrap: wrap;
    /*-webkit-flex-wrap: wrap; /* Safari */
    justify-content: center;
    /*-webkit-justify-content: center; /* Safari */
    align-items: center;
}

.cont-1 {
    display: flex;
    /*display: -webkit-flex; /* Safari */
    flex-direction: column;
    /*-webkit-flex-direction: column; /* Safari */
    justify-content: space-around;
    /*-webkit-justify-content: space-around; /* Safari */
    align-items: center;
    max-width: 555px;
    /*background: url(../www/img/bg.jpg) no-repeat center; */
    background-color: rgba(22, 22, 31, 0.47843137254901963);
    border: 7px solid rgba(255, 255, 255, 0.47843137254901963);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 7px;
    padding-right: 7px;
}

h2 {
    font-size: 1.7em;
    font-weight: 500;
    color: snow;
    text-align: center;
}

p {
    font-size: 1.4em;
    font-weight: 100;
    color: whitesmoke;
    text-align: center;

}
a {
    font-size: 1.7em;
    color: #0fff17;
    margin-bottom: 20px;
}

.footer {
    display: flex;
    /*display: -webkit-flex; /* Safari */
    justify-content: center;
   /*-webkit-justify-content: center; /* Safari */
    align-items: center;
    height: 92px;
    background-color:rgba(22, 22, 31, 0.8705882352941177);
    margin-top: 35px;
    border-top: 7px solid rgba(255, 255, 255, 0.47843137254901963);
}

/* Кнопка "вверх" */

div.scrollup {
    position: fixed;
    /* фиксированная позиция */
    color: #fff;
    /* цвет текста */
    background-color: rgba(22, 22, 31, 0.6);
    /* цвет заднего фона */
    right: 20px;
    /* расстояние от правого края */
    bottom: 15%;
    /* расстояние от нижнего края */
    padding: 4px 10px;
    /* отступы до содержимого блока */
    font-size: 20px;
    /* размер шрифта (иконки) */
    border-top-left-radius: 4px;
    /* скругление верхнего левого угла */
    border-top-right-radius: 4px;
    /* скругление верхнего правого угла */
    cursor: pointer;
    /* форма курсора */
    display: none;
    /* не отображать элемент */
    text-align: center;
    /*выравнивание содержимого элемента по центру */
}

div.scrollup:hover {
    background-color: rgba(22, 22, 31, 0.9);
    /* цвет заднего фона при наведении */
}

/*Медиа запросы */
@media only screen and (max-width: 480px) {
    .header {
    height: 320px;
    }
    .header-title {
    width: 18em;
    }
    .header-title h1 {
    font-size: 1.5em;
    }
    .header-title p {
    font-size: 1em;
    }
}

/* iPhone 2G-4S in landscape */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
    body {
    background: url(../img/Crony_prtrt_mob.jpg) no-repeat center;
    background-size: cover; /* Масштабируем фон */
    background-attachment: fixed;
    }

}

/* iPhone 2G-4S in portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
    body {
    background: url(../img/Crony_lnd_mob.jpg) no-repeat center;
    background-size: cover; /* Масштабируем фон */
    background-attachment: fixed;
    }

   } 

@media only screen and (max-width: 768px) {
    
}

@media only screen and (min-width: 1024px) {
    
}

@media only screen and (min-width: 1140px) {
    
}